<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Zcash Block Observatory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="description" content="Zcash Block Observatory">
    <meta name="author" content="Zerocoin Electronic Coin Company">
  </head>
  <body>
    <table class="table">
      <tr>
        <th>hash</th>
        <th>confirmations</th>
        <th>size</th>
        <th>height</th>
        <th>version</th>
        <th>merkleroot</th>
        <th>txs</th>
        <th>time</th>
        <th>nonce</th>
        <th>bits</th>
        <th>difficulty</th>
        <th>chainwork</th>
        <th>anchor</th>
        <th>previousblockhash</th>
        <th>nextblockhash</th>
        <th>arrivaltime</th>
      </tr>
      {% for block in blocks %}
      <tr>
        <td>{{ block['hash'] }}</td>
        <td>{{ block['confirmations'] }}</td>
        <td>{{ block['size'] }}</td>
        <td>{{ block['height'] }}</td>
        <td>{{ block['version'] }}</td>
        <td>{{ block['merkleroot'] }}</td>
        <td>
        {% for tx in block['tx'] %}
        {{ tx['tx'] }}<br>
        {% endfor %}
        </td>
        <td>{{ block['time'] | timestamp }}</td>
        <td>{{ block['nonce'] }}</td>
        <td>{{ block['bits'] }}</td>
        <td>{{ block['difficulty'] }}</td>
        <td>{{ block['chainwork'] }}</td>
        <td>{{ block['anchor'] }}</td>
        <td>{{ block['previousblockhash'] }}</td>
        <td>{{ block['nextblockhash'] }}</td>
        <td>{{ block['arrivaltime'] | timestamp }}</td>
      </tr>
      {% endfor %}
   </table>
</body>
</html>
