{% extends "base.html" %}
  {% block content %}
    <table class="table table-striped">
      <tr>
        <th>height</th>
        <td>{{ block['height'] | int }}</td>
      </tr>
      <tr>
        <th>hash</th>
        <td>{{ block['hash'] }}</td>
      </tr>
      <tr>
        <th>confirmations</th>
        <td>{{ block['confirmations'] | int }}</td>
      </tr>
      <tr>
        <th>size</th>
        <td>{{ block['size'] | int }}</td>
      </tr>
      <tr>
        <th>version</th>
        <td>{{ block['version'] }}</td>
      </tr>
      <tr>
        <th>merkleroot</th>
        <td>{{ block['merkleroot'] }}</td>
      </tr>
      <tr>
        <th>txs</th>
        <td>
        {% for tx in transactions %}
          {{ tx }}<br>
        {% endfor %}
        </td>
      </tr>
      <tr>
        <th>time</th>
        <td>{{ block['time'] | timestamp }}</td>
      </tr>
      <tr>
        <th>nonce</th>
        <td>{{ block['nonce'] }}</td>
      </tr>
      <tr>
        <th>bits</th>
        <td>{{ block['bits'] }}</td>
      </tr>
      <tr>
        <th>difficulty</th>
        <td>{{ block['difficulty'] }}</td>
      </tr>
      <tr>
        <th>chainwork</th>
        <td>{{ block['chainwork'] }}</td>
      </tr>
      <tr>
        <th>anchor</th>
        <td>{{ block['anchor'] }}</td>
      </tr>
      <tr>
        <th>previousblockhash</th>
        <td><a href="/block?search={{ block['previousblockhash'] }}" style="text-decoration: none;">{{ block['previousblockhash'] }}</a></td>
      </tr>
      <tr>
        <th>nextblockhash</th>
        {% if block['nextblockhash'] | string == 'None' %}
        <td>None</td>
        {% else %}
        <td><a href="/block?search={{ block['nextblockhash'] }}" style="text-decoration: none;">{{ block['nextblockhash'] }}</a></td>
        {% endif %}
      </tr>
      <tr>
        <th>arrivaltime</th>
        <td>{{ block['arrivaltime'] | timestamp }}</td>
      </tr>
   </table>
   <a href="/"><button class="btn btn-default">Return to main page</button></a>
  {% endblock %}
