{% extends "base.html" %}
  {% block content %}
    <table class="table">
      <tr>
        <th>hash</th>
        <th>height</th>
        <th>size</th>
        <th>txs</th>
        <th>time</th>
      </tr>
      {% for block in blocks %}
      <tr>
        <td><a href="/block?search={{ block['hash'] }}" style="text-decoration: none;">{{ block['hash'] }}</a></td>
        <td>{{ block['height'] | int }}</td>
        <td>{{ block['size'] | int }}</td>
        <td>
        {% for tx in block['tx'] %}
        {{ tx['tx'] }}<br>
        {% endfor %}
        </td>
        <td>{{ block['time'] | timestamp }}</td>
      </tr>
      {% endfor %}
   </table>
  {% endblock %}
